body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* --------------------FrontEnd Page------------------------*/
.frontContent {
  color:grey;
  font-size: 40px;
  display:flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 8px;

}
.registerButton {
  display:flex;
  flex-direction: column;
  
  background-color:dodgerblue;
  margin-bottom:11px
  
  
}

.registerButton button, .loginButton button{
  color: #f7f7f7;
  font-size:17px
}
.loginButton {
  display:flex;
  /* flex-direction: column; */
  display:flex;
  flex-direction: column;
  
  background-color:seagreen;
  /* padding-top: 21px; */
}

.setCard {
  display: flex;
  flex-direction: column;
  width: 40%;
  align-self:center;
  text-align: center;
}

.setCard img {
  width:70%
}
.outsideCard{ 
  display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
    width:100%
}

.headerTag {
  margin-left: 18px;
}

.textFields {
  display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.emailField
{
  display: flex;
  flex-direction: column;
  margin-left: 24px;
  margin-right: 24px;
  }
.buttons {
   display:flex;
   justify-content: space-around;
   margin-bottom: 20px;
   margin-top: 12px;
   color:#ffffff
 }


 .loginText {
   display:flex;
   flex-direction: column;
   margin-left: 100px;;
   margin-right:100px;
 }
 .homeHeader {
  display: flex;
  flex-direction: row;
  justify-content: center;
 }
 .userDetailHeader {
   margin-left: 30px;
 }
 .editButton {
 display: flex;
 flex-direction: row;
 margin-left: 100px;
 }

 .outsideCard {
  background-color:#f7f7f7;
  height:100vh
 }

 .setCard h1{
  font-size:35px !important;
  text-transform: uppercase;
}